:root {
  --text-color: #f6f6f6;
  --main-color: #ea1538;
  --secondary-color: #6b1e2b;
  --section-color: #212020;
  --header-color: #212020;
  --background-color: #000000;
  --main-duration: 0.8s;
}
* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
body {
  background-color: var(--background-color);
}

.header {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--header-color);
  z-index: 1001;
}

.header .navbar {
  /* background-color: var(--header-color); */
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-right: 10%;
  /* box-shadow: 0px 0px 10px 0px var(--secondary-color); */
  /* border-bottom:  solid 1.5px var(--main-color); */
}
.header .logo {
  font-size: 22px;
  color: var(--text-color);
}
.header .logo span .logo-Protofilo {
  color: var(--main-color);
  text-decoration: none;
}
.header .logo span:hover {
  text-shadow: 0 0 20px var(--text-color);
}

.header ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
.header ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: var(--main-duration);
}
.header ul li .active {
  color: var(--main-color);
}
.header ul li a:hover {
  color: var(--main-color);
  padding: 0 10px 0;
  text-shadow: 0 0 15px var(--text-color);
  /* text-transform: uppercase; */
}

.header .navbar .portofilo-btn {
  display: inline-block;
  text-decoration: none;
  border: var(--main-color) solid 2px;
  background: var(--main-color);
  padding: 8px 25px;
  border-radius: 20px;
  font-weight: bold;
  color: var(--text-color);
  font-size: 15px;
  transition: var(--main-duration);
}
.header .navbar .portofilo-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 10px 5px var(--secondary-color);
}

/* Start Home Section */
.main {
  background-image: url(../images/bg1_home.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main .contain {
  width: 80%;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 998;
  padding-top: 120px;
}
.main .main-content .main-text {
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 10px;
}
.main .main-content .main-text span {
  color: var(--main-color);
  text-shadow: -6px 0px 0 var(--text-color);
}
.main .main-content .sec-text {
  color: var(--main-color);
  padding-bottom: 20px;
  font-size: 22px;
}
.main .main-content .view-work-btn {
  display: inline-block;
  text-decoration: none;
  border: var(--main-color) solid 2px;
  background: var(--main-color);
  padding: 11px 22px;
  border-radius: 20px;
  font-weight: bold;
  color: var(--text-color);
  font-size: 15px;
  transition: var(--main-duration);
}
.main .main-content .view-work-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: var(--main-color);
  background: transparent;
  box-shadow: 0 0 10px 3px var(--secondary-color);
}

.main .main-content .cv-btn {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  border: var(--main-color) solid 2px;
  padding: 11px 22px;
  border-radius: 20px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 15px;
  transition: var(--main-duration);
}
.main .main-content .cv-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: var(--text-color);
  background: var(--main-color);
  box-shadow: 0 0 10px 4px var(--secondary-color);
}

.social-icons {
  padding: 15px 20px;
}
.social-icons a {
  margin-right: 20px;
}
.social-icons a i {
  font-size: 20px;
  transition: all var(--main-duration) ease;
}
.social-icons a i:hover {
  color: var(--main-color);
  transform: translateY(-5);
  cursor: pointer;
}
/* End Home Section */
/* Start Services Section */
/* Start Special title */
.services {
  width: 80%;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 80px;
}
.title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color: var(--text-color);
}
.title span {
  color: var(--main-color);
  text-shadow: -4px 0px 0 var(--text-color);
}
/* End Special title */

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.card {
  background-color: var(--section-color);
  width: 240px;
  padding: 10px;
  margin: 20px;
  transition: var(--main-duration) ease;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 0.8rem -0.5rem var(--text-color);
  position: relative;
}
.card:hover {
  transform: scale(1.04);
  border-radius: 15px;
  color: var(--text-color);
}
.container .card .icon i {
  font-size: 50px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.container .card .info h3 {
  text-align: center;
  color: var(--main-color);
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
}
.container .card .info p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
/* End Services Section */
/* Start  Projects Section */
.projects {
  width: 80%;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 80px;
}
.projects .container .card {
  overflow: hidden;
}
.projects .container .card img {
  width: 100%;
  height: 110px;
  border-radius: 10px;
}
.projects .card .info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px;
  left: 0;
  bottom: 0px;
  background: linear-gradient(rgb(0, 0, 0, 0.1), var(--background-color));
  border-radius: 15px;
  transform: translateY(100%);
  transition: var(--main-duration);
}
.projects .card:hover .info {
  transform: translateY(0);
}
.projects .card .info h3 {
  font-size: 20px;
}
.projects .container .info p {
  padding-right: 10px;
  margin-top: -8px;
  font-size: 15px;
}
.projects .container .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .container .link a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--text-color);
  margin-top: 5px;
  transition: var(--main-duration) ease;
}
.projects .container .link a:hover {
  transform: scale(1.08);
}

.projects .container .link i {
  font-size: 12px;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  margin: 10px;
}
/* End  Projects Section */

/* Start Contact Me Section  */
.contact-me {
  width: 80%;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 80px;
}
.contact-me .container h3 {
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 15px;
}
.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form .input-box {
  margin-bottom: 15px;
}
.form .input-box input {
  background-color: var(--section-color);
  color: var(--text-color);
  border-radius: 3px;
  width: 300px;
  height: 25px;
}
.form textarea {
  background-color: var(--section-color);
  color: var(--text-color);
  border-radius: 3px;
  width: 600px;
  resize: none;
  line-height: 1.2;
}
.form .btn {
  margin: 20px;
  border: var(--main-color) solid 2px;
  background: var(--main-color);
  padding: 8px 25px;
  border-radius: 20px;
  font-weight: bold;
  color: var(--text-color);
  font-size: 15px;
  transition: var(--main-duration);
}
.form .btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 10px 5px var(--secondary-color);
}
/* End Contact Me Section  */
/* Start Footer Section */
.footer {
  background-color: var(--section-color);
  height: 55px;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-text p {
  font-size: 15px;
}
.footer .footer-text p span {
  color: var(--main-color);
  font-size: 17px;
  font-weight: bold;
}

.footer .footer-icon a i {
  color: var(--section-color);
}

.footer .footer-icon a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--text-color);
  margin-top: 5px;
  transition: var(--main-duration) ease;
  text-decoration: none;
}
.footer .footer-icon a:hover {
  transform: scale(1.08);
  background-color: var(--main-color);
}
/* End Footer Section */
